---
layout: page
title: Projects
permalink: /projects/
---
<h1 class="page-heading">Projects</h1>

{% for category in site.categories %}
  <div class="category-list">
  <h1>
  <a name="{{ category | first }}">{{ category | first }}</a>
  </h1>
    <ul class="post-list">
    {% for posts in category %}
      {% for post in posts limit 4%}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <p>{{ post.excerpt }}</p>
            <a href="{{ post.url }}">Read more...</a>
        </li>
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
{% endfor %}
