<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        
        <div class="item active">
          <img src="{{site.base_url}}/assets/BMEC_Robot_Editted.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Engineering Design.</h1>
              <p>The scientific process of finding the optimal solution to a problem for a given set of paramaters</p>              
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Explore</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="{{site.base_url}}/assets/genetic_algorithms.png" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Side Projects.</h1>
              <p>Algorithms, optimization, game design, check out my past and ongoing work here</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Explore</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="{{site.base_url}}/assets/yhack_photo.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Hackathons.</h1>
              <p>Creativity and teamwork on a short timeline, producing projects ranging from hardware to financial data analysis</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Explore</a></p>
            </div>
          </div>
        </div> 

        <div class="item">
          <img src="{{site.base_url}}/assets/forge.jpg" alt="Fourthslide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Other pursuits.</h1>
              <p>My plethora of non-technical pursuits, from blacksmithing to billiards</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Explore</a></p>
            </div>
          </div>
        </div>

      </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->